body {
    margin: 0; /* Remove margens do body */
    font-family: Arial, sans-serif; /* Define uma fonte padrão */
  }
  
  .perfil-container {
    min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
    background: linear-gradient(to right, #0d12ac, #4a83e0); /* Degradê escuro */
    display: flex; /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
  }
  
  .perfil-card {
    background-color: white; /* Fundo do cartão */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 90%; /* Largura responsiva */
    max-width: 600px; /* Largura máxima do cartão */
  }
  
  .perfil-header {
    background-color: #007bff; /* Azul moderno */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .perfil-content {
    padding: 20px;
  }
  
  .perfil-item {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Alinha os itens ao longo da linha */
    padding: 10px 0;
  }
  
  .perfil-item strong {
    color: #495057; /* Cor do texto forte */
    margin-right: 10px; /* Adiciona um pequeno espaço entre o rótulo e o valor */
  }
  
  .perfil-item span {
    color: #343a40; /* Cor do texto normal */
    flex-grow: 1; /* Faz o span ocupar o espaço restante */
    text-align: right; /* Alinha o texto à direita */
  }
  